body { margin: 0;
       text-align: center;
       font-family: 'Merriweather', serif;
       background-color:#FCF8E8;
}

h1 { margin: 50px auto 0 auto;
        font-size: 5.625rem;
        font-family: 'Sacramento', cursive;
        color: #91b89f;
        line-height:2;
}

h2{ font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#94B49F;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 { font-family: 'Montserrat', sans-serif;
    color: #41d8dd;
}

a{  color:#FCF8E8;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 2;
    border-radius: 6px;
}


p {
    line-height: 2;
}

hr {
    border: dotted #ECB390 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-container {
    background-color:#CEE5D0;
    position: relative;
    padding-top: 100px;
    /* margin: 50px; */
/* width: 100%; */
}

.middle-container {
    margin: 100px 0;
}


.bottom-container  {
    background-color:#ECB390;
    /* line-height: 2; */
    padding: 50px 0 20px;
    color:#FCF8E8 ;
    
}

.skills-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    /* float: right;
      */
}

.contact-me {
    width: 30%;
    margin: 40px auto 60px;
  }
  
.top-cloud {
    position: absolute;
   
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position:absolute;
    left: 250px;
    bottom:300px;
}
  
.sue-profile {
     width: 23%;
    border-radius: 50%;
    background-color: #ECB390;
    float: left;
    margin: 40px 30px;
       
}

.profile {
    width: 50%;
    margin: 0 auto 0 auto;
    text-align: left;
    line-height: 2;
}

.profile h2 {
    margin: 0;
}


.btn {
  text-decoration: none;
  line-height: 2;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ECB390;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
   
}

.btn:hover {
    background:#41d8dd;
    color: #FCF8E8;
    
}

a:hover {
    background: #FCF8E8;
    color: #ECB390;
    
}